@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}

body {
  background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}

main {
  background-color: white;
  border-radius: 10px; /* border-radius é uma propriedade abreviada (shorthand) do CSS3 que permite definir os raios dos cantos de uma caixa.Ela afeta o contorno externo da borda de um elemento, arredondando seus cantos. */
  box-shadow: 5px 5px 15px #9175659f; /* box-shadow é uma propriedade CSS que aplica uma ou várias sombras a um elemento. A sombra é desenhada em volta da caixa do elemento, podendo ser uma sombra externa (padrão) ou interna (quando usada a palavra-chave inset). */
  width: 600px; /* Largura */
  padding: 10px; /* Preenchimento interno (espaço entre o conteúdo e a borda) */
  margin: auto; /* margin: auto; vai centralizar horizontalmente o <main> independentemente do tamanho da tela, desde que:
o elemento tenha width definido (como você já colocou: width: 600px;); o elemento seja de bloco (e o <main> é por padrão). */
}

h1 {
  color: #f39209;
  text-align: center; /* A propriedade text-align especifica o alinhamento horizontal do conteúdo de texto dentro de um elemento em linha (inline) ou de bloco (block). */
  text-shadow: 1px 1px 2px #8b5407b7; /* A propriedade text-shadow funciona de forma muito parecida com o box-shadow, mas em vez de aplicar sombra na caixa (elemento), ela aplica sombra ao texto dentro do elemento. */
}

h2 {
  color: #125189;
}

p {
  text-align: justify; /* A propriedade text-align controla o alinhamento horizontal do texto dentro de um elemento. Quando usada com o valor justify, o texto é distribuído de modo que as linhas (exceto a última) preencham toda a largura disponível do contêiner, ajustando o espaçamento entre palavras para alinhar tanto na margem esquerda quanto na margem direita. */
}
