@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #5F2C82;
}

main {
    width: 250px;
    border-radius: 20px;

    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    /* centralizar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

main > h1 {
    font-size: 1.4em;
    padding: 15px;
}

main > p {
    text-align: left;
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 1.3; 
    padding: 0px 9px;
    color: rgb(41, 41, 41);
}

main > div#imglogin {
    width: 100%;
    height: 200px;
    background-image: url(../imagens/metal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* campos de formulário */
form > p {
    margin: 10px;
}

/* caixas de email e senha */
form > p#cxemail, 
form > p#cxsenha {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;

    width: 230px;
    height: 42px;
    border-radius: 7px;

    background-color: #5F2C82;
    color: white;
    margin: 10px auto;
}

/* inputs */
input#iemail, 
input#isenha {
    flex: 1;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #94CFCD;
}

input#iemail:focus, 
input#isenha:focus {
    background-color: white;
}

/* ícones */
#cxemail .material-icons, 
#cxsenha .material-icons {
    font-size: 24px;
}

/* botão entrar */
p#cxentrar {
    height: 40px;
    border-radius: 7px;
    background-color: #53AAA7;
    cursor: pointer;
    margin: 10px auto;
    width: 230px;
}

p#cxentrar > button {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    background-color: #53AAA7;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}

#cxentrar:hover {
    background-color: #2a5a58;
}

#cxentrar:hover button {
    background-color: #2a5a58;
}

/* link recuperar senha */
p#cxrecuperarsenha {
    height: 40px;
    border: 1px solid #4b9996;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    margin: 10px auto;
    width: 230px;
}

p#cxrecuperarsenha > a {
    font-size: 0.9em;
    text-decoration: none;
    color: #2a5a58;
}

#cxrecuperarsenha .material-icons {
    font-size: 14px;
    color: #357270;
}

p#cxrecuperarsenha:hover {
    background-color: #6CD3CF;
}
